@page "/legal"

<PageTitle>コンカク～コンカフェ遠隔サイト～</PageTitle>

<h3>特定商取引法に基づく表示</h3>

<table>
    <tr><th>代金（対価）の支払方法</th><td>銀行振込・クレジットカード・Ｐａｉｄｙ</td></tr>
    <tr><th>商品の引渡時期</th><td>入金確認後５営業日以内</td></tr>
    <tr><th>申込みの期間</th><td>継続購入はありません</td></tr>
    <tr><th>契約の申込みの撤回又は解除に関する事項</th><td>デジタルコンテンツのため、返品・交換はできません</td></tr>    
    <tr><th>事業者情報</th><td>
        香月 貴義（屋号：あんのたん）<br>
        東京都新宿区新宿６－２７－５２<br>
        ０５０－３５７６－１４０５
        </td></tr>
    <tr><th>販売価格、送料等以外に購入者等が負担すべき金銭</th><td>銀行振込手数料</td></tr>
    <tr><th>動作環境</th><td>最新版のGoogle Chrome, Microsoft Edge または Safari</td></tr>
    <tr><th>役務提供条件</th><td>コンテンツ提供者の負担の観点から、販売数量を制限することがあります</td></tr>
    <tr><th>電子メールアドレス</th><td>support@conkaku.jp</td></tr>
</table>

@code {

}
